.formBox {
  gap: 4vh;
  background: white;
  box-shadow: var(--shadow1);
  padding: 20px;
  border-radius: 20px;
}

.formBox hr {
  border-top: 2px dotted var(--theme);
}

.formBox,
.formBox form,
.formBox form p {
  display: grid;
}

.formHeader h3 {
  font-size: 1.4rem;
}

.formHeader h3 sub {
  display: block;
  height: 3px;
  width: 50px;
  background: black;
}

.formBox form {
  gap: 4vh;
}

.formBox form p input,
.formBox form p select,
.formBox form textarea,
.dateLabel {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3ddf0;
  color: black;
  resize: none;
}

.formBox form textarea {
  height: 100px;
}


.dateRangeBox span {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-bottom: 0.5vh;
}

.dateRangeBox span svg {
  font-size: 0.9rem;
  color: var(--red);
}

.dateRangeBox label {
  position: relative;
  align-items: center;
  display: flex;
  gap: 2vw;
}

.dateRangeBox label legend {
  background: var(--primary);
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
}

.dateRangeBox label svg {
  color: var(--red);
}

.dateRangeBox label input {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

.dateRangeBox label hr {
  height: 80%;
  border-right: 3px dotted var(--red);
}

.dateLabel label sub {
  display: block;
  font-size: 1.1rem;
  background: var(--red);
  color: white;
}

.roomBox {
  display: grid;
  gap: 1rem;
}

.roomBox ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.roomBox ul select {
  padding: 5px;
  border-radius: 5px;
  background: #d3ddf0;
  background: var(--blueFeint);
  color: white;
  color: black;
}

.roomBox ul input {
  border: 1px solid var(--primary);
  width: 80px;
  border-radius: 5px;
  text-align: center;
}

.sumBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sumBox>*:nth-child(1) {
  border-radius: 5px 0 0 5px;
}

.sumBox div {
  background: var(--primary);
  font-size: 1.5rem;
  color: white;
}

.sumBox legend {
  padding: 20px;
  background: var(--pass);
  color: white;
  border-radius: 0 5px 5px 0;
}

.sumBox div,
.sumBox span,
.sumBox legend {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sumBox span {
  color: black;
  font-size: 2rem;
  border: 1px solid lightgray;
}

.sumBox legend {
  font-size: 2.1rem;
}

.galleryBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.galleryBox article {
  border: 2px solid var(--theme);
  position: relative;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.galleryBox label {
  position: relative;
  z-index: 100;
}

.galleryBox video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryBox label {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 2rem; */
  /* border: 2px solid red; */
}


.formBox form button {
  background: var(--theme);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}