@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Wix Madefor Display", sans-serif; */
  /* font-family: "Outfit", sans-serif; */
  scroll-behavior: smooth;
}

:root {
  --bg: #232323;
  --theme: palevioletred;
  --text: white;
  --text: #232323;

}

/* body{
  background: var(--bg);
} */
main {
  display: flex;
  flex-direction: column;
  gap: 3.5vh;
}

#hor {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#horMargin,
#divider {
  width: 80%;
  margin: auto;
}

#divider {
  border-top: 2px solid var(--theme);
}

body::-webkit-scrollbar {
  width: 10px;
  background: lightgray;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

#cut,
#cut2,
#cut3,
#cut6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#cut {
  -webkit-line-clamp: 1;
}

#cut2 {
  -webkit-line-clamp: 2;
}

#cut3 {
  -webkit-line-clamp: 3;
}

#cut6 {
  -webkit-line-clamp: 4;
}


@media all and (max-width:1300px) {
  #hor {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #horMargin,
  #divider {
    width: 90%;
    margin: auto;
  }
}

@media all and (max-width:900px) {
  #hor {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  #horMargin,
  #divider {
    width: 90%;
    margin: auto;
  }
}