.hostBox {
  display: grid;
  gap: 1rem;
}

.searchBox {
  background: black;
  background: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.searchBox article {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.searchBox article strong {
  font-size: 1.2rem;
}

.searchBox article select {
  background: whitesmoke;
  border-radius: 40px;
  padding: 0 5px;
  border: 1px solid var(--theme);
}

.searchBox article select {
  font-size: 1.1rem;
}

.searchBox article p {
  display: flex;
  align-items: center;
  gap: 1rem;
}